.container{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    height: 500;
  }
  
  .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }